name: CI

on:
  push:
    branches: [master]
    tags: ["**"]
  pull_request:
    branches:
      - "**"

jobs:
  pre_commit:
    name: Pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit

      - name: Run pre-commit
        run: pre-commit run --all-files --show-diff-on-failure

  run_unittest_tests:
    name: Unittest
    runs-on: ${{ matrix.os }}
    needs: pre_commit
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        tox-env:
          - "django-42"
          - "django-51"
          - "django-52"

        exclude:
          - python-version: "3.13"
            tox-env: "django-42"
          - python-version: "3.14"
            tox-env: "django-42"
          - python-version: "3.14"
            tox-env: "django-51"

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install --only test

      - name: Test with tox
        run: poetry run tox -e py${{ matrix.python-version }}-${{ matrix.tox-env }}

      - name: Report to codecov
        if: success()
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          env_vars: TOX_ENV

  pypi-publish:
    name: Upload release to PyPI
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    needs: run_unittest_tests

    environment:
      name: pypi
      url: https://pypi.org/p/django-active-link
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install
          poetry build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
